<?xml version="1.0"?>

<model>
  <name>Iris with Standoffs and Scanse LiftDrag ArduCopter Plugins</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Adam Naber</name>
    <email>naber@chalmers.se</email>
  </author>

  <description>
    starting with iris_with_standoffs
    add LiftDragPlugin
    add ArduCopterPlugin
    attach scanse_sweep model
    attach gimbal_small_2d model with GimbalSmall2dPlugin
  </description>
  <depend>
    <model>
      <uri>model://gimbal_small_2d</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://iris_with_standoffs</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://scanse_sweep</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
